In [1]:
from sklearn.decomposition import PCA
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import datetime

path = 'DATA/'

In [4]:
VRP_df = pd.read_csv(path+'VRP_data.csv',usecols = ['date','RV^2','VIX^2'])
VRP_df['date'] = pd.to_datetime(VRP_df['date'],format = '%Y-%m-%d')

In [5]:
VRP_df

           date        RV^2     VIX^2
0    1996-01-31  129.734005  157.0009
1    1996-02-01  132.337843  160.0225
2    1996-02-02  133.718892  175.0329
3    1996-02-05  132.008946  181.1716
4    1996-02-06  139.480153  212.8681
...         ...         ...       ...
6809 2023-02-22  223.148461  496.8441
6810 2023-02-23  209.280392  446.8996
6811 2023-02-24  212.069522  469.5889
6812 2023-02-27  223.171154  438.9025
6813 2023-02-28  211.997881  428.4900

[6814 rows x 3 columns]

In [17]:
VRP_df['RV^2_next'] = VRP_df['VIX^2'].shift(-21)
VRP_df = VRP_df.dropna()

In [6]:
from sklearn.linear_model import LinearRegression

In [31]:
X = VRP_df.loc[:,['RV^2','VIX^2']]
Y = VRP_df.loc[:,'RV^2_next']
    
reg = LinearRegression().fit(X, Y)

Y_fitted = reg.predict(X)
VRP_df['E_RV^2'] = Y_fitted

VRP_df['VRP'] = VRP_df['VIX^2'] - VRP_df['E_RV^2']

C:\Users\Camer\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Camer\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [32]:
VRP_df

           date        RV^2     VIX^2      E_RV^2  RV^2_next         VRP
0    1996-01-31  129.734005  157.0009  276.136655   279.5584 -119.135755
1    1996-02-01  132.337843  160.0225  278.126168   277.8889 -118.103668
2    1996-02-02  133.718892  175.0329  287.442532   259.2100 -112.409632
3    1996-02-05  132.008946  181.1716  291.140965   274.2336 -109.969365
4    1996-02-06  139.480153  212.8681  311.037237   271.9201  -98.169137
...         ...         ...       ...         ...        ...         ...
6788 2023-01-23  257.244359  392.4361  427.455823   496.8441  -35.019723
6789 2023-01-24  271.252639  368.6400  413.481308   446.8996  -44.841308
6790 2023-01-25  249.197591  364.0464  409.568780   469.5889  -45.522380
6791 2023-01-26  228.314873  350.8129  400.390336   438.9025  -49.577436
6792 2023-01-27  236.989137  342.6201  395.768004   428.4900  -53.147904

[6793 rows x 6 columns]

In [34]:
VRP_df[['date','VRP']].to_csv(path+'VRP_data.csv')

In [35]:
VRP_df[['date','VIX^2']].to_csv(path+'VIX^2_data.csv')