# AQF - Download Data

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import datetime #maybe also: from datetime import datetime
#would like to import wrds here but I get a syntax error
#would be easier to be able to download data directly here instead of downloading .csv files and import again,
#especially for data manipulation and cleaning (to redownload it e.g.)

In [7]:
DATA_PATH = 'DATA/'

In [8]:
VIX_TS = pd.read_csv(DATA_PATH + 'VIX_TS.csv',skiprows=4)

VIX_TS = VIX_TS.rename({'Date':'DATE','VIX_1^2':'1 month','VIX_2^2':'2 month','VIX_3^2':'3 month','VIX_6^2':'6 month',
               'VIX_9^2':'9 month','VIX_12^2':'12 month'},axis=1)

VIX_TS.isna().sum() #checks for NA values

DATE        0
1 month     0
2 month     0
3 month     0
6 month     0
9 month     0
12 month    0
dtype: int64

In [9]:
VIX_TS_WRDS = pd.read_csv(DATA_PATH + 'VIX_TS_WRDS.csv',skiprows=0)

VIX_TS_WRDS = VIX_TS_WRDS.rename({'Date':'DATE','vixo':'Open','vixh':'high','vixl':'low','vix':'close'},axis=1)

VIX_TS_WRDS = VIX_TS_WRDS.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=True)

In [10]:
VIX_TS_WRDS.isna().sum() #checks for NA values

DATE     0
Open     7
high     7
low      7
close    7
dtype: int64

In [12]:
print(VIX_TS_WRDS)
print(VIX_TS)

          DATE   Open   high    low  close
0     19960104  11.24  14.23  11.23  13.78
1     19960105  14.02  14.74  13.55  13.58
2     19960108  14.02  13.22  12.44  13.11
3     19960109  13.04  15.48  13.04  15.21
4     19960110  16.55  16.87  15.65  16.40
...        ...    ...    ...    ...    ...
6996  20230925  17.25  18.41  16.79  16.90
6997  20230926  18.03  19.50  17.17  18.94
6998  20230927  18.29  19.71  18.03  18.22
6999  20230928  18.22  18.77  17.06  17.34
7000  20230929  16.87  17.74  15.83  17.52

[7001 rows x 5 columns]
          DATE  1 month  2 month  3 month  6 month  9 month  12 month
0     19960104  0.01771  0.01681  0.01668  0.01785  0.01891   0.02027
1     19960105  0.01708  0.01674  0.01661  0.01828  0.02034   0.01993
2     19960108  0.01610  0.01589  0.01582  0.01739  0.01863   0.01955
3     19960109  0.02406  0.01904  0.01675  0.01858  0.01955   0.02088
4     19960110  0.02494  0.02151  0.02006  0.01978  0.02079   0.02184
...        ...      ...      ...      ...      ...      ...       ...
5907  20190624  0.02402  0.02642  0.02783  0.03070  0.03137   0.03290
5908  20190625  0.02718  0.02870  0.02980  0.03222  0.03277   0.03402
5909  20190626  0.02705  0.02812  0.02945  0.03219  0.03296   0.03384
5910  20190627  0.02626  0.02715  0.02836  0.03063  0.03191   0.03293
5911  20190628  0.02525  0.02688  0.02791  0.03151  0.03227   0.03603

[5912 rows x 7 columns]

In [13]:
def DATE_STR(num):
    num_str = str(num)
    date_str = num_str[-2:]+'/'+num_str[4:-2]+'/'+num_str[0:4]
    
    return date_str 

VIX_TS['DATE'] = VIX_TS['DATE'].apply(DATE_STR)
VIX_TS['DATE'] = pd.to_datetime(VIX_TS['DATE'],format = '%d/%m/%Y')
VIX_TS_WRDS['DATE'] = VIX_TS_WRDS['DATE'].apply(DATE_STR)
VIX_TS_WRDS['DATE'] = pd.to_datetime(VIX_TS_WRDS['DATE'],format = '%d/%m/%Y')

print('Date Range:')
print('Start:',min(VIX_TS.DATE).date(),min(VIX_TS_WRDS.DATE).date())
print('End:',max(VIX_TS.DATE).date(),max(VIX_TS_WRDS.DATE).date())

Date Range:
Start: 1996-01-04 1996-01-04
End: 2019-06-28 2023-09-29

In [55]:
counter = 0
for i in range(7001):
    if VIX_TS_WRDS['DATE'][i] <= datetime.strptime('2019-06-28', "%Y-%m-%d"):
        counter += 1
print(counter)

5916

In [64]:
# Step 1: Cut the first DataFrame at a certain date
cutoff_date = datetime.strptime('2019-06-28', "%Y-%m-%d")
#print(cutoff_date)
filtered_df1 = VIX_TS_WRDS[VIX_TS_WRDS['DATE'] <= cutoff_date]
#print(filtered_df1)
# Step 2: Extract dates from the second DataFrame
dates_to_compare = VIX_TS['DATE']
#print(dates_to_compare)
# Step 3: Compare dates
dates_not_common = filtered_df1[~filtered_df1['DATE'].isin(dates_to_compare)]
print(dates_not_common)
#common_dates = filtered_df1[filtered_df1['Date'].isin(dates_to_compare)]

           DATE     Open     high      low    close
1923 2003-08-24      NaN      NaN      NaN      NaN
2127 2004-06-11  0.02262  0.02262  0.02262  0.02262

In [46]:
#manipulating the data set from WRDS: divide by 100, then square it
for colname in VIX_TS_WRDS.columns:
    if colname != "DATE":
        VIX_TS_WRDS[colname] = (VIX_TS_WRDS[colname]/100)**2
        
print(VIX_TS_WRDS, VIX_TS['1 month'])

           DATE      Open      high       low     close
0    1996-01-04  0.012634  0.020249  0.012611  0.018989
1    1996-01-05  0.019656  0.021727  0.018360  0.018442
2    1996-01-08  0.019656  0.017477  0.015475  0.017187
3    1996-01-09  0.017004  0.023963  0.017004  0.023134
4    1996-01-10  0.027390  0.028460  0.024492  0.026896
...         ...       ...       ...       ...       ...
6996 2023-09-25  0.029756  0.033893  0.028190  0.028561
6997 2023-09-26  0.032508  0.038025  0.029481  0.035872
6998 2023-09-27  0.033452  0.038848  0.032508  0.033197
6999 2023-09-28  0.033197  0.035231  0.029104  0.030068
7000 2023-09-29  0.028460  0.031471  0.025059  0.030695

[7001 rows x 5 columns] 0       0.01771
1       0.01708
2       0.01610
3       0.02406
4       0.02494
         ...
5907    0.02402
5908    0.02718
5909    0.02705
5910    0.02626
5911    0.02525
Name: 1 month, Length: 5912, dtype: float64

In [43]:
empty_rows = VIX_TS_WRDS[VIX_TS_WRDS.isna().any(axis = 1)]

# Display the rows with empty values
print(empty_rows)

           DATE  Open  high  low  close
273  1997-01-31   NaN   NaN  NaN    NaN
481  1997-11-26   NaN   NaN  NaN    NaN
1923 2003-08-24   NaN   NaN  NaN    NaN
2605 2006-05-04   NaN   NaN  NaN    NaN
6359 2021-04-02   NaN   NaN  NaN    NaN
6438 2021-07-25   NaN   NaN  NaN    NaN
6546 2021-12-24   NaN   NaN  NaN    NaN

In [54]:
#VIX_TS_WRDS[VIX_TS_WRDS['DATE'] == datetime.strptime('1997-01-31', "%Y-%m-%d")].index[0]

print(VIX_TS.iloc[273],VIX_TS_WRDS.iloc[273])
print(VIX_TS.iloc[481],VIX_TS_WRDS.iloc[481])

DATE        1997-01-31 00:00:00
1 month                 0.03541
2 month                 0.03359
3 month                 0.02895
6 month                 0.03352
9 month                 0.03187
12 month                0.03185
Name: 273, dtype: object DATE     1997-01-31 00:00:00
Open                     NaN
high                     NaN
low                      NaN
close                    NaN
Name: 273, dtype: object
DATE        1997-11-26 00:00:00
1 month                 0.07846
2 month                 0.07966
3 month                 0.07914
6 month                 0.07568
9 month                 0.06877
12 month                0.06284
Name: 481, dtype: object DATE     1997-11-26 00:00:00
Open                     NaN
high                     NaN
low                      NaN
close                    NaN
Name: 481, dtype: object